<app-header>
    <span content>Lista wszystkich kontaktow</span>
</app-header>

<table *ngIf="contacts.length > 0; else noContactsAlert" class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwisko</th>
            <th>Imie</th>
            <th>Nr telefonu</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let contact of contacts; let i = index" [routerLink]="['/contact', contact.id]">
            <td>{{ i + 1 }}</td>
            <td>{{ contact.surname }}</td>
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.phoneNumber }}</td>
        </tr>
    </tbody>

</table>

<button mat-fab color="accent">
    <mat-icon>add</mat-icon>
</button>

<ng-template #noContactsAlert>
    <p class="no-contacts">
        Aktualnie Brak Kontaktow
    </p>
</ng-template>